[color]
	diff = auto
	status = auto
	branch = auto
[user]
	email = VieuxChameau@users.noreply.github.com
	name = VieuxChameau

[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	s = status -s
	bra = branch -a
	brr = branch -r
	amend = commit --amend
	unadd = rm -r --cached
	hundo = reset --hard HEAD^
	wd = diff --word-diff
	ws = show --word-diff
	do = diff ORIG_HEAD HEAD
	staged = diff --cached
	changes = diff --name-status -r
	ds = diff --stat -r
	lg = log --color --graph --name-only --pretty=format:'%Cred%h%Creset %C(bold blue)[%an]%Creset :%C(yellow)%d%Creset %s %Cgreen(%ad)%Creset' --abbrev-commit --date=relative
[branch]
	autosetuprebase = always
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[diff]
	tool = meld
[merge]
	tool = meld
[mergetool "meld"]
	keepBackup = false
[pull]
	rebase = preserve
[push]
	default = current
[core]
	autocrlf = input
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
